[run]
branch = True
source = app
omit =
    app/*/migrations/*
    app/*/__pycache__/*
    app/*/tests/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    @abstractproperty
    except ImportError:
    nocov
    if sys.version_info
skip_covered = False
sort = Cover
precision = 2

[html]
directory = htmlcov

[paths]
source =
    app
    */site-packages/app
